@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bodyCardapioTradicional {
    background-image: url(img/backgroundCardapioTradicional.png);
    background-size:contain;
    
}
.bodyCardapioPremmy {
    background-image: url(img/backgroundCardapioPremium.png);
    background-size:contain;
    
}

.premiumCardapio {
    background-color: #fdfdfd;
}

.logo {
    text-align: center;
}

.boxe {
    padding: 0.5em;
    background: #eaddca;
    margin: 10%;
    border-radius: 10px;
    box-shadow: black 5px 5px 10px 5px;
    background-image: url(img/backgroundLista.jpg);
    background-size: cover;
}

.tipo {
    color: #651713;
    font-family: 'Frijole', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;

}
.priceItens,
.priceItensBorda {
    text-align: center;
    color: #651713;
    font-family: 'Frijole', cursive;
    font-weight: 700;
    font-size: 12px;
    padding: 0.5em;
}

.sabor {
    font-family: 'Frijole', cursive;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0.2em;
}

.descricaoItens {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}


.cardapioImage {
    text-align: center;
    padding: 1em;
}

.cardapioImages {
    padding: 1em;
    list-style: none;
    width: 100px;
    box-shadow: black 10px 10px 10px 10px;
}

.tamanho {
    width: 15em;
    height: 100%;
}

.boxeContato{
    display: flex;
    justify-content: space-around;
}

.iconeDoWhats {
    width: 20px;
    height: 20px;
}

.linkParaPedido {
    text-decoration: none;
    color: black;
    font-family: 'Frijole', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
}

.voltarParaMenu {
    text-align: center;
}

.linkMenu {
    text-decoration: none;
    font-weight: 700;
    color: #651713;
    font-family: 'Frijole', cursive;
}

@media screen and (min-width: 1000px) {
    .boxes {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        gap: 0.1em;
    }

    .boxe {
        text-align: center;
    }

    .tipo ,
    .priceItens,
    .sabor,
    .descricaoItens {
        padding: 1em;
    }



    .boxeContato{
        display: grid;
    }
    
    .iconeDoWhats {
        width: 30px;
        height: 30px;
    }
    
    .linkParaPedido {
        text-decoration: none;
        color: black;
        font-family: 'Frijole', cursive;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
    }
    
}